<h2>接口信息修改</h2>
<meta charset="utf-8"/>
<ul class="">
   <li class="" style="list-style-type:none;">
   		<div class="form-group m0">
		   <label class="col-sm-4 control-label">ServiceId:</label>
		   <div class="col-sm-8">
		      <p class="form-control-static"><a href="#">{{ selectedRow.SERVICEID || &apos;empty&apos;}}</a>
		      </p>
		   </div>
		</div>
   </li>
   <li class="" style="list-style-type:none;">
   		<div class="form-group m0">
		   <label class="col-sm-4 control-label">BizFunctionId:</label>
		   <div class="col-sm-8">
		      <p class="form-control-static"><a href="#">{{ selectedRow.BIZFUNCTIONID || &apos;empty&apos;}}</a>
		      </p>
		   </div>
		</div>
   </li>
   <li class="" style="list-style-type:none;">
   		<div class="form-group m0">
		   <label class="col-sm-4 control-label">ServiceEnName:</label>
		   <div class="col-sm-8">
		      <p class="form-control-static"><a href="#" editable-search="selectedRow.SERVICEENNAME">{{ selectedRow.SERVICEENNAME || &apos;empty&apos;}}</a>
		      </p>
		   </div>
		</div>
   </li>
   <li class="" style="list-style-type:none;">
   		<div class="form-group m0">
		   <label class="col-sm-4 control-label">ServiceCnName:</label>
		   <div class="col-sm-8">
		      <p class="form-control-static"><a href="#" editable-search="selectedRow.SERVICECNNAME">{{ selectedRow.SERVICECNNAME || &apos;empty&apos;}}</a>
		      </p>
		   </div>
		</div>
   </li>
</ul>


<div class="text-center">
   <button type="button" ng-click="doServiceEditSave()" class="btn btn-success btn-large">保存</button>
   <button type="button" ng-click="closeThisDialog(0)" class="btn btn-info btn-large">关闭</button>
</div>